<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ReadDemoAPP</span>
  <span class="example-spacer"></span>
  <div style="width: 100%;display: flex; flex-direction: row; justify-content: space-between;">
    <div>
      <button mat-button [routerLink]="['/home/invitado']">
        BETA
      </button>
      <button mat-button [routerLink]="['/home/premium']">
        PREMIUM
      </button>
    </div>
  
    <div>
      <button mat-icon-button [routerLink]="['/login']" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>

<!-- <h1>REGISTRO DE MAESTROS</h1>

<mat-card class="example-card">
  <div style="width: 100%; margin: 20px; display: flex; flex-direction: row; gap: 20px;">
    <div style=" width: 28%; display: flex; flex-direction: column; gap: 10px;">
      <form [formGroup]="formMaestro">
        <mat-form-field class="custom-input" style="width: 100%;">
          <mat-label>NOMBRE: </mat-label>
          <input matInput placeholder="Ingrese el nombre del maestro ..." formControlName='nombre'>
        </mat-form-field>

        <mat-form-field class="example-full-width" style="width: 100%;">
          <mat-label>APELLIDO: </mat-label>
          <input matInput placeholder="Ingrese el apellido del maestro ..." formControlName='apellido'>
        </mat-form-field>

        <mat-form-field class="example-full-width" style="width: 100%;">
          <mat-label>TITULO: </mat-label>
          <input matInput placeholder="Ingrese el titulo del maestro ..." formControlName='titulo'>
        </mat-form-field>
      </form>

      <div style="display: flex; justify-content: center; width: 100%; gap: 20px;">
        <button mat-raised-button color="accent" style="width: 50%; "
          (click)="state_button ? saveMaestro() : updateMaestro()">{{ state_button ? ' GUARDAR REGISTROS' : 'MODIFICAR
          REGISTRO'}}</button>

        <button mat-mini-fab color="accent" (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>

      </div>
    </div>
    <div style=" width: 68%; display: flex; justify-content: center;">
      <table mat-table [dataSource]="MAESTROS_LIST" class="mat-elevation-z8 demo-table">


        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element" (click)="getByID(element)"> {{element.id_maestro}} </td>
        </ng-container>

        <ng-container matColumnDef="NOMBRE">
          <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
          <td mat-cell *matCellDef="let element" (click)="getByID(element)"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="APELLIDO">
          <th mat-header-cell *matHeaderCellDef> APELLIDO </th>
          <td mat-cell *matCellDef="let element" (click)="getByID(element)"> {{element.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="TITULO">
          <th mat-header-cell *matHeaderCellDef> TITULO </th>
          <td mat-cell *matCellDef="let element" (click)="getByID(element)"> {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="ACCION">
          <th mat-header-cell *matHeaderCellDef> ACCIÓN </th>
          <td mat-cell *matCellDef="let element"> <mat-icon style="color: red;"
              (click)="deleteMaestro(element)">delete</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns_table_maestro"></tr>
        <tr mat-row *matRowDef="let row; columns: columns_table_maestro;"></tr>
      </table>
    </div>
  </div>
</mat-card> -->